@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
.form-error{
    font-family: "Permanent Marker";
    color: red;
}

.sidenav{
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: scroll;
    padding: 10px 5px 0 5px;
    background-color: #2a2f32;
}

.main{
    margin-left: 25%;
    padding: 10px;
    height: 100vh;
    background-color: #262d31;
}

.top-side-nav{
    width: -webkit-fill-available;
    border-bottom: 1px solid white;
}

.sidenav-pp{
    max-width: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.profile-content{
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #2a2f38;
    transition: 0.5s;
    overflow: hidden;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}