@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
.form-error{
    font-family: "Permanent Marker";
    color: red;
}

.topnav{
    margin: 0;
	padding: 0;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0 0 0 /51%);
}

.nav-right{
    float: right;
    text-align: center;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
.pp{
    max-width: 1.5rem;
    border-radius: 50%;
}

.nav-logo:hover{
    cursor: context-menu;
}

.profile-pp{
    width: 200px;
    border-radius: 50%;
}
#upload-profile-picture{
    display: none;
}

.nav-ham{
    cursor: pointer !important;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 60px;
    box-shadow: 10px 0 5px -5px #888;
    overflow: scroll;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover{
    color: #000;
}

.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #000;
}

.link{
    cursor: pointer;
}

.class{
    width: 250px;
    float: left;
    margin: 10px;
    cursor: pointer;
}

.class-description{
    height: 150px;
    overflow-y: scroll;
}
.sidenav-title{
    margin: 20px 0;
}

.sidenav-item{
    padding: 5px 10px;
    border-top: 1px solid #e4dcdc;
    border-bottom: 1px solid #e4dcdc;
}

.nav-class-title{
    max-width: 20vw;
    overflow: hidden;
}

.class-description, .material-description{
    white-space: pre-line;
}

.box-option{
    border-top: 1px solid #e4dcdc;
    padding: 5px 0px;
}

.add-classwork-btn{
    border-radius: 50px;
    cursor: pointer;
}

.classwork{
    cursor: pointer;
}

.classwork-modal{
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.classwork-close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.classwork-close:hover,
.classwork-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.classwork-content{
    background: #fefefe;
    margin: calc(10vh - 20px) auto;
    height: 80vh;
    padding: 20px;
    width: 80%;
    overflow: scroll;
}

.classwork-title{
    font-family: "Roboto condensed";
}

@media only screen and (max-width: 600px){
    .class{
        width: -webkit-fill-available;
    }
    .nav-class-title{max-width: none;}
    .option{
        width: 50% !important;
    }
    .optc{width: 33.33% !important;}
}